[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Test public project
[access "refs/*"]
	owner = group user/Toshiyuki Takahashi (toshi-metahack)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Toshiyuki Takahashi (toshi-metahack)
	label-Verified = -1..+1 group user/Toshiyuki Takahashi (toshi-metahack)
	push = group user/Toshiyuki Takahashi (toshi-metahack)
	read = group user/Toshiyuki Takahashi (toshi-metahack)
	rebase = group user/Toshiyuki Takahashi (toshi-metahack)
	removeReviewer = group user/Toshiyuki Takahashi (toshi-metahack)
	submit = group user/Toshiyuki Takahashi (toshi-metahack)
[access "refs/heads/*"]
	create = group user/Toshiyuki Takahashi (toshi-metahack)
	push = +force group user/Toshiyuki Takahashi (toshi-metahack)
	pushMerge = group user/Toshiyuki Takahashi (toshi-metahack)
	read = group user/Toshiyuki Takahashi (toshi-metahack)
[access "refs/tags/*"]
	push = group user/Toshiyuki Takahashi (toshi-metahack)
	push = +force group user/Toshiyuki Takahashi (toshi-metahack)
